<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ds2kfyptb/image/upload/v1686924940/kminvf5tr0urhqnznok1.webp);">
  <div class="container">
    <h1> Films </h1>
    <p>Tous les français ont deux métiers : le leur et critique de cinéma !</p>
  </div>
</div>

<div class = "container" style="text-decoration:none">
  <h1>Category : </h1>

  <ul>
    <% @lists.each do|list| %>
      <li><%= link_to list.name, list_path(list) %>
        <%= link_to "supp", list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"}%>
       </li>
    <% end %>
  </ul>
</div>
  <%= link_to "Add movie", new_list_path, class: 'btn btn-primary' %>

<div>
  <div class="button" id="link">
   <span> <%= link_to'_', new_list_path, class: 'button', id:'link' %> add movie</span>
  </div>
</div>

<div class="container">

    <div class="cards">

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ds2kfyptb/image/upload/v1687091120/pexels-josh-hild-2854693_nnv5cw.jpg)">
      ACTION

      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ds2kfyptb/image/upload/v1687091234/georgi-kalaydzhiev-uFUQ55RuMrs-unsplash_eb7jlp.jpg)">
        HORROR
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url(https://res.cloudinary.com/ds2kfyptb/image/upload/v1687091111/juan-cruz-mountford-AMFWArSckYM-unsplash_egxgki.jpg)">
      COMEDY
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ds2kfyptb/image/upload/v1687094712/scott-broome-BcVvVvqiCGA-unsplash_z569vr.jpg)">
        ROMANCE
      </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/ds2kfyptb/image/upload/v1687091123/sander-sammy-HoOP0nxd8eg-unsplash_lx2qrd.jpg)">
        THRILLER
      </div>

    </div>
</div>
